.highlights {
    list-style: none;
}

.highlights__item {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.15px;
    color: var(--dark3);
}

.highlights__item:not(:last-child) {
    margin-bottom: 4px;
}