.about {
	background-image: var(--color-gradient);
}

.about__inner {
	padding: 64px 0;
	color: #FFFFFF;
}

.about__title {
	margin-bottom: 8px;
	font-size: var(--text-4xl);
}

.about__text {
	font-size: var(--text-lg);
}

@media (max-width: 1024px) {
	.about__inner {
		padding: 48px 0;
	}
}