.catalog__filter {
    grid-area: filter;
    align-self: start;
    padding: 25px;
    margin-right: 8px;
    background-color: #fff;
    border: 1px solid #E5E7EB;
    border-radius: 10px;
}

.catalog__filter-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.catalog__filter-logo {
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    color: #101828;
}

.catalog__filter-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media (max-width: 1024px) {
    .catalog__filter {
        display: none;
        margin-right: 0;
        margin: 12px 0;
    }

    .catalog__filter.catalog__filter--active {
        display: block;
    }
    
}