.header {
  position: sticky;
  top: 0;
  background-color: var(--light1);
  z-index: 10;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.header__logo-border {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--orange);
}

.header__logo-icon {
  width: 24px;
  height: 24px;
  color: var(--light1);
}

.header__logo-text {
  font-size: 20px;
  font-weight: 600;
  color: var(--dark2);
  line-height: 28px;
  letter-spacing: -0.45px;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__actions-icon {
  width: 20px;
  height: 20px;
  color: var(--dark3);
}

.header__actions-border {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition: all .2s ease;
  cursor: pointer;
}

.header__actions-border:hover {
  background-color: var(--light4-op);
}

.header__actions-border--burger {
  display: none;
}

@media (max-width: 1024px) {
  .header__inner {
    padding: 10px 0;
  }

  .header__actions-border--burger {
    display: flex;
  }
}

@media (max-width: 640px) {
    .header__logo-text {
      display: none;
    }
}

