.header__menu-list {
  display: flex;
  gap: 32px;
  list-style: none;
  justify-content: center;
}

.header__menu-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.31px;
  color: #364153;
  text-decoration: none;
  transition: color 0.2s ease;
}

.header__menu-link:hover {
  color: var(--color-orange-500);
}

@media (max-width: 1024px) {
  .header__menu {
    display: none;
  }
}